[submodule "dot_config/nvim/dot_config/alacritty/themes"]
	path = dot_config/nvim/dot_config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule "dot_tmux/plugins/tmp"]
	path = dot_tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
